<mat-card class="home mat-elevation-z3">
    <mat-card-title>
        Novo Usuário
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="user.nome"
            name="nome"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sobrenome" 
            [(ngModel)]="user.sobrenome"
            name="sobrenome"
            >
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="E-mail" 
            [(ngModel)]="user.email"
            name="email"
            type="email"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de nascimento" 
            [(ngModel)]="user.dataNascimento"
            name="data_nascimento"
            type="date"
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Escolaridade</mat-label>
            <select matNativeControl [(ngModel)]="user.escolaridade" name="escolaridade">
                <option value="" selected></option>
                <option *ngFor="let item of escolaridades" [value]="item.value">{{ item.name }}</option>
            </select>
        </mat-form-field> 
    </form>
    <button mat-raised-button (click)="createUser()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>